@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.title-line {
  border: none;
  border-bottom: $border-title-line;
  opacity: 0.13;
  margin-bottom: 37px;
  @include for-large-up {
    margin-bottom: 39px;
  }
  &__top-button {
    @include for-large-up {
      margin-bottom: 32px;
    }
  }
}
