@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.vacancy {
  &__description-block {
    display: grid;
    margin-bottom: 14px;
    @include for-large-down {
      grid-template:
        'subDesc subDesc' auto
        'datePost salary' auto;
    }
    @include for-large-up {
      grid-template:
        'subDesc salary' auto
        'datePost datePost' auto;
      justify-content: space-between;
    }
  }
  &__description {
    grid-area: subDesc;
    margin-right: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.75px;
    color: $color-title-text;
    @include for-large-up {
      max-width: 501px;
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
  &__time {
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.191905px;
    color: $color-pagination-text;
    grid-area: datePost;
    @include for-large-up {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__salary {
    grid-area: salary;
    display: grid;
    @include for-large-down {
      justify-content: space-between;
      grid-template:
        '. topRow' auto
        '. bottomRow' auto;
    }
    @include for-large-up {
      grid-template:
        '. bottomRow' auto
        '. topRow' auto;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &__salary-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: $color-main-text;
    grid-area: topRow;
  }
  &__salary-price {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    color: $color-title-text;
    grid-area: bottomRow;
  }
}
