@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.cards-body {
  background: $body-cards-bg;
}
.card {
  background: $main-card-bg;
  border-radius: $br;
  box-shadow: $main-shadow;
  margin: auto;
  margin-top: 8px;
  display: flex;
  padding: 13px 16px 27px;
  height: 206px;
  @include for-large-down {
    width: 396px;
  }
  @include for-large-up {
    width: 1400px;
    padding: 24px 16px;
    height: 164px;
  }
  &__text {
    margin-left: 19px;
    @include for-large-up {
      margin-left: 26px;
      min-width: 959px;
      flex-grow: 1;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: $color-title-text;
    overflow: hidden;
    display: block;
    height: 48px;
    @include for-large-up {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.625px;
      height: 50px;
      margin-bottom: 8px;
      max-width: 712px;
    }
  }
  &__title-link {
    text-decoration: none;
    color: $color-title-text;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: $color-description-text;
    margin-bottom: 7px;
    @include for-large-up {
      margin-bottom: 9px;
      max-width: 712px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__location-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: $color-description-text;
  }
  &__header {
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;
  }
  &__header-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.206667px;
    color: $color-description-text;
  }
  .carad__logo {
    width: 66px;
    height: 66px;
    background: $main-logo-bg;
    border-radius: 50%;
    margin-top: 32px;
    flex-shrink: 0;
    @include for-large-up {
      margin-top: 0;
      width: 85px;
      height: 85px;
    }
  }
  &__rating {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__location {
    display: flex;
  }
  &__location-description {
    margin-left: 11px;
  }
}
.bookmark {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 32px;
  flex-shrink: 0;
  position: relative;

  &__text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.23619px;
    color: $color-second-text;
    bottom: 0;
  }
  &__icon {
    width: 16px;
    height: 20px;
  }
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  width: 96px;
  flex-shrink: 0;
  & svg {
    width: 18px;
    height: 17px;
  }
}
