@import 'breakpoints.scss';
@import 'src/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
// @import 'cards.scss';
// @import 'post.scss';

* {
  box-sizing: border-box;
}

body {
  //background: $bacground-color-light-gray;
  min-height: 100vh;
  color: $font-color;
  font-family: 'proxima-nova', sans-serif;
  position: relative;
  font-size: 16px;
}

.page {
  display: flex;
  min-height: 100vh;
  margin: auto;
  margin-top: 1px;
  flex-direction: column;
  // background: #e6e9f2;
}
li {
  // list-style-image: url(./img/list-style.png);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
}

ul {
  margin: 0;
  //padding: 0;
  padding-left: 15px;
  //margin-bottom: 43px;
}
.button {
  margin: 0;
  padding: 0;
  background: #384564;
  border-radius: 8px;
  width: 127px;
  height: 52px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
.mob {
  @include for-large-up {
    display: none !important;
  }
}
.desktop {
  @include for-large-down {
    display: none !important;
  }
}
